@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
* {
  font-family: 'Noto Sans KR', sans-serif;
}
body {
  background-color: #fff;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  min-height: 100vh;
  margin: 0px;
}
@media (min-width: 650px) {
  .App {
    width: 640px;
  }
}

@media (max-width: 650px) {
  .App {
    width: 90vw;
  }
}

.App {
  width: 450px;
  min-height: 100vh;
}

.todo-list {
  list-style: none;
  padding: 0;
}

.todo-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f7f7f7;
  padding: 12px;
  border-radius: 4px;
  margin-bottom: 10px;
  width: 330px;
}

.check-form label {
  font-weight: bold;
  font-size: 18px;
}

.check-form p {
  color: #868585;
  font-size: 16.5px;
}

button {
  background-color: #000000;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
}

.check-form input {
  border: 1px solid black;
  width: 340px;
  height: 50px;
  margin-right: 30px;
  font-size: 16px;
}

